{% extends 'base.html' %}

{% block head %}
  <meta charset="utf-8">
	<!--
		Perintah agar lebar viewport mengikuti lebar perangkat
		dan skala mengikuti ukuran ketika web di-load
	 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>CabMed</title>
	<!-- Load bootstrap stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<!-- Load login stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">

{% endblock %}

{% block body %}

<div class="container-fluid">

		<div class="card card-login">
			<div class="card-body">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-12">
						<div class="padding bg-primary text-center align-items-center d-flex">
							<div id="particles-js"></div>
							<div class="w-100">

								<h4 class="text-light mb-2">Bienvenue
								 dans CabMed</h4>
								<p class="lead text-light"></p>
								<!-- <button class="btn btn-block btn-icon btn-icon-google mb-3">
									Login With Google
								</button> -->
							</div>

							<!-- <div class="help-links">
								<ul>
									<li><a href="#">Terms of Service</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div> -->
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="padding">
							<h2><b>Choisir Votre Compte</b></h2>
							<br><br><br><br>
							<!-- <form autocomplete="off"> -->

							<form action="/login/patient" method="post">

								<div class="form-group">
									<a href="/login/medcin">
										<button  type="button" class="medcin_part">
											<img  src="{{ url_for('static', filename='Icons/doc_part.png') }}" alt="Search"/>
											Medcin
										</button>
									</a>

								</div>
								<div class="form-group ">
									<a href="/login/patient">
										<button type="button" class="patient_part">
											<img  src="{{ url_for('static', filename='Icons/person.png') }}" alt="Search"/>
											Patient

										</button>
									</a>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





{% endblock %}
