{% extends 'base.html' %}

{% block head%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script>


        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }


             function successCallback(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                console.log("Latitude: " + latitude);
                console.log("Longitude: " + longitude);
                var inputLat = document.getElementById('lat');
                var inputLong = document.getElementById('long');
                inputLat.value = latitude;
                inputLong.value = longitude;
                var user_location = 'you';

                // Create a map with the location marker
                var map = L.map('map', {
                  dragging: true // Enable dragging
                }).setView([latitude, longitude], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
                  maxZoom: 18,
                }).addTo(map);
                map.dragging.enable();
                L.marker([latitude, longitude]).addTo(map).bindPopup(user_location).openPopup();



        }

        function errorCallback(error) {
            alert('there is an error');
            console.log("Error occurred while getting the location: " + error.message);
        }

        var previousSelected = null;
        function handleDayClick(button) {
             if (previousSelected) {
                    previousSelected.classList.remove("selected");
                }

            button.classList.add("selected");
            previousSelected = button;
            var selectedDay = button.textContent;
            console.log("Selected day: " + selectedDay);
            // Do something with the selected day value
            var year_month= document.getElementById('year_month')
            var date_complet=selectedDay+"-"+year_month.textContent;
            var input_date = document.getElementById('date');
            var ville_input = document.getElementById('ville');
            var selected_ville= document.getElementById('search_city_id').value;

            input_date.value = date_complet;
            var button_heure = document.getElementById('select_time').value;


            ville_input.value=selected_ville;


        }

    </script>


{% endblock %}

{% block body%}
    {% if message %}
        <center>
        <div id="Message_Error">{{ message }}</div>
        </center>
    {% elif  message_succes %}
         <center>
        <div id="message_succes">{{ message_succes }}</div>
        </center>
    {% else %}
        <p></p>
    {% endif %}


    <form action="/patient" method="post">
    <center>
        <h1>Description Maladie</h1>

            <textarea id="description_maladie" name="description_maladie" placeholder="Veuillez décrire vos symptômes..."></textarea>
    </center>
             <center><span class="au_moins">Au moins 10 mots</span></center>

        <br><br>


    <div class="loca">

           <div  class="search_field">
               <input type="text" name="localisation" id="localisation" placeholder="Merci de clique sur la boutton pour récuprer votre localisation" readonly>

                 <button class="icon" type="button" onclick="getLocation()"><img  src="{{ url_for('static', filename='Icons/localization-icon.png') }}" alt="Search"/></button>

           </div>
         <div class="hide">
             <div class="Row">
                 <div class="ville_header"><h2>La ville</h2></div>


             </div>

              <select class="ville_select" name="ville" id="search_city_id"><option value="">Choisir une ville</option>
                        <option value="Agadir">Agadir</option>
                        <option value="Ait Melloul">Ait Melloul</option>
                        <option value="Arfoud">Arfoud</option>
                        <option value="Azrou">Azrou</option>
                        <option value="Benguérir">Benguérir</option>
                        <option value="Beni Mellal">Beni Mellal</option>
                        <option value="Benslimane">Benslimane</option>
                        <option value="Berkane">Berkane</option>
                        <option value="Berrechid">Berrechid</option>
                        <option value="Bouskoura">Bouskoura</option>
                        <option value="Bouznika">Bouznika</option>
                        <option value="Casablanca">Casablanca</option>
                        <option value="Dakhla">Dakhla</option>
                        <option value="Dar Bouazza">Dar Bouazza</option>
                        <option value="Deroua">Deroua </option>
                        <option value="El Jadida">El Jadida</option>
                        <option value="Errachidia">Errachidia</option>
                        <option value="Essaouira">Essaouira</option>
                        <option value="Fkih Ben Saleh">Fkih Ben Saleh</option>
                        <option value="Fès">Fès</option>
                        <option value="Had Soualem">Had Soualem</option>
                        <option value="Ifrane">Ifrane</option>
                        <option value="Inezgane">Inezgane</option>
                        <option value="Kalaat Sraghna">Kalaat Sraghna </option>
                        <option value="Khemisset">Khemisset</option>
                        <option value="Khouribga">Khouribga</option>
                        <option value="Khénifra">Khénifra</option>
                        <option value="Kénitra">Kénitra</option>
                        <option value="Larache">Larache</option>
                        <option value="Laâyoune">Laâyoune</option>
                        <option value="Marrakech">Marrakech</option>
                        <option value="Mechra Bel Ksiri">Mechra Bel Ksiri</option>
                        <option value="Meknès">Meknès</option>
                        <option value="Mohammedia">Mohammedia</option>
                        <option value="Médiouna">Médiouna</option>
                        <option value="Nador">Nador</option>
                        <option value="Ouarzazate">Ouarzazate</option>
                        <option value="Oujda">Oujda</option>
                        <option value="Rabat">Rabat</option>
                        <option value="Safi">Safi</option>
                        <option value="Saidia">Saidia</option>
                        <option value="Sala Al Jadida">Sala Al Jadida</option>
                        <option value="Salé">Salé</option>
                        <option value="Settat">Settat</option>
                        <option value="Sidi Bennour">Sidi Bennour</option>
                        <option value="Sidi Kacem">Sidi Kacem</option>
                        <option value="Skhirat">Skhirat</option>
                        <option value="Séfrou">Séfrou</option>
                        <option value="Tanger">Tanger</option>
                        <option value="Taroudant">Taroudant</option>
                        <option value="Tata">Tata</option>
                        <option value="Taza">Taza</option>
                        <option value="Temara">Temara</option>
                        <option value="Tétouan">Tétouan</option></select>
         </div>
        </div>
         <div id="successMessage">
                <input type="text" name="long" id="long"  value="" hidden="hidden">
                <input type="text" name="lat" id="lat"  value="" hidden="hidden">
                 <input type="text" name="date" id="date"  value="" hidden="hidden">
               <!-- <input type="text" name="heure" id="heure"  value="" hidden="hidden">-->
                <input type="text" name="ville" id="ville" value="" hidden="hidden">

            </div>


        <br><br><br><br>

        <div class="loca">
            <div id="map">
            {{ map_html | safe }}
            </div>

            <div class="hide">
            </div>
        </div>

        <div class="loca">
            <div class="calender_table">
            <h1>Selectionner le jour</h1>
            <h2 id="year_month">{{ month }}-{{ year }}</h2>

            <a href="/patient?month={{ prev_month }}&year={{ prev_year }}">Précédente</a>
            <a href="/patient?month={{ next_month }}&year={{ next_year }}">Suivante</a>

            <table>
                <tr>
                    <th>Lun</th>
                    <th>Mar</th>
                    <th>Mer</th>
                    <th>Jeu</th>
                    <th>Ven</th>
                    <th>Sam</th>
                    <th>Dim</th>
                </tr>

                {% for week in weeks %}

                    <tr>
                        {% for day in week %}
                            {% if day != "" %}
                                <td><button type="button" class="calender_day" onclick="handleDayClick(this)">{{ day }}</button></td>
                            {% else %}
                                <td>{{ day }}</td>
                            {% endif%}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            </div>
            <div class="hide">
                <div class="leo">
                </div>
                <div>
                    <div><h2>Selectionner l'heure</h2></div>
                    <select class="select_time" id="select_time" name="heure">
                        <option value="09:00">09:00</option>
                        <option value="09:15">09:15</option>
                        <option value="09:30">09:30</option>
                        <option value="09:45">09:45</option>
                        <option value="10:00">10:00</option>
                        <option value="10:15">10:15</option>
                        <option value="10:30">10:30</option>
                        <option value="10:45">10:45</option>
                        <option value="11:00">11:00</option>
                         <option value="11:15">11:15</option>
                        <option value="11:30">11:30</option>
                        <option value="11:45">11:45</option>
                        <option value="12:00">12:00</option>
                        <option value="12:15">12:15</option>
                        <option value="12:30">12:30</option>
                        <option value="12:45">12:45</option>
                        <option value="13:00">13:00</option>
                        <option value="13:15">13:15</option>
                        <option value="13:30">13:30</option>
                        <option value="13:45">13:45</option>
                         <option value="14:00">14:00</option>
                        <option value="14:15">14:15</option>
                        <option value="14:30">14:30</option>
                        <option value="14:45">14:45</option>
                         <option value="15:00">15:00</option>
                        <option value="15:15">15:15</option>
                        <option value="15:30">15:30</option>
                        <option value="15:45">15:45</option>
                         <option value="16:00">16:00</option>
                        <option value="16:15">16:15</option>
                        <option value="16:30">16:30</option>
                        <option value="16:45">16:45</option>
                         <option value="17:00">17:00</option>
                        <option value="17:15">17:15</option>
                        <option value="17:30">17:30</option>
                        <option value="17:45">17:45</option>
                    </select>
                </div>
                </div>
        </div>
        <center>
        <button class="btn" type="submit" >
            Sauvegarder
        </button>
    </center>
    <br><br>
        </form>

{% endblock %}
