<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CabMed</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/med.css') }}">
</head>
<body>

  <div class="container_all">
    <div class="menu">
      <div class="logo">
        <h4><b>CabMed</b></h4>

      </div>
      <div class="container2">
          <ul class="menu_elements">
            <a href="" ><li class="active"><img  class="active" src="{{ url_for('static', filename='Icons/dashboard.png') }}" alt="Search"/>Overview</li></a>
             <a href=""><li><img  src="{{ url_for('static', filename='Icons/patient.png') }}" alt="Search"/>Patient</li></a>
             <a href=""><li><img  src="{{ url_for('static', filename='Icons/appointment.png') }}" alt="Search"/>Rendez-vous</li></a>
             <a href=""><li><img  src="{{ url_for('static', filename='Icons/user.png') }}" alt="Search"/>Profile</li></a>

        </ul>
        <div class="log_out">
          <a href=""><li><img  src="{{ url_for('static', filename='Icons/logout.png') }}" alt="Search"/>Log out</li></a>
        </div>
      </div>


    </div>

    <div class="main">

    </div>


  </div>

</body>
</html>