<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>CabMed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rendez_vous.css') }}">
	<!-- Load bootstrap stylesheet -->



</head>
<body>
    <div class="container_1">
        <div class="background">

        </div>
        <div class="profile_details">
             <img src="{{ url_for('static', filename='imgs/dot1.jpg') }}" class="profile-image" alt="Doctor Profile Image">

                <di><h2><b>{{ doctor_name }}</b></h2></di>
                <di><p><b>Specialité detecté: </b>{{ specialite }}</p></di>
                <di><p>{{ adresse }}</p></di>
                 <di><p>{{ ville }}</p></di>
                 <di> <p>{{ telephone }}</p></di>
                <form action="/rendez_vous" method="post">
                    <button type="submit" class="btn">Rendez-vous</button>
                </form>

        </div>
        <div class="main">
            <div class="spescialty">
                <p class="spescialty_header"><b>Spécialité</b></p>
                <div class="specialite_elements">
                    {% for element in specialite_med %}
                    <div>
                        <img src="{{ url_for('static', filename='Icons/correct.png') }}"
                             class="spe_icon">
                        &nbsp;
                        <p>{{ element }}</p>
                    </div>
                    {% endfor %}

                </div>


            </div>
            <div class="details_patient">
                 <p class="spescialty_header header_two"><b>autres médecin recommandé</b>: </p>
                <div class="cards">

                    {% for index, row in recamanded_meds.iterrows() %}

                    <a href="/rendez_vous/{{ row['ID'] }}">
                        <div class="med_recomande">
                        <h4><b>{{ row['Name'] }}</b></h4>
                        <p>{{ row['ville'] }}</p>
                        <p>{{ row['distance'] }} Km</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>

            </div>

        </div>
        <div class="localisation_details">
            <div class="rating">
                <img src="{{ url_for('static', filename='Icons/star.png') }}"
                             class="star_icon">
                        &nbsp;
                <p class="rating_text"><b>{{ rating }} Rating</b></p>

            </div>
            {{ map_html | safe }}

        </div>

    </div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>